<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Board</title>
</head>
<body>
    <h1>Task Dashboard</h1>
    <form method="post">
        {% csrf_token %}

        <label for="task">Task</label>
        <input type="text" value="{{ task.task }}" name="task" id="task" required>

        <label for="assigned_to">Assigned To</label>
        <input type="text" value="{{ task.assigned_to }}" name="assigned_to" id="assigned_to">

        <button type="submit">assign</button>
    </form>
</body>
</html>