<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Board</title>
</head>
<body>
    <h1>Task Dashboard</h1>
    <h3>User Login</h3>
    <form method="post">
        {% csrf_token %}

        <label for="username">username</label>
        <input type="text" name="username" id="username" required>

        <label for="password">password</label>
        <input type="password" name="password" id="password" required>

        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}

        <button type="submit">Login</button>

        <p>I don't have account? <a href="{% url 'register' %}">register</a></p>
        
    </form>
</body>
</html>